.blue-background {
    background-color: blue;
}

* {
    font-family: 'nunito';
}

p,
a,
b,
li,
i,
h5 {
    font-family: 'PT Sans';
}

.linkzonderkleur,
.linkzonderkleur:visited,
.linkzonderkleur:hover,
.linkzonderkleur:active {
    color: inherit;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1);
}

nav .logo {
    order: 1;
}

nav .nav-items {
    order: 2;
    display: flex;
    gap: 20px;

}

nav .social-media {
    order: 3;
}

.carousel-caption {
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
}

.carousel-item {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}



.titel {
    color: white;
    background: rgba(0, 0, 0, 0.6);
    line-height: 58px;
}

.subtitel {
    color: white;
    background: rgba(0, 0, 0, 0.6);
}

.voorstellingen {
    background-color: whitesmoke
}

.card {
    background-color: blueviolet !important;
    border: none !important;
    color: white !important;
}

html {
    scroll-behavior: smooth;
}

.wieZijnWijLijn {
    border-color: blueviolet !important;
    border-width: 10px !important;
    ;

}


body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.footer {
    margin-top: auto;
    background-color: whitesmoke;
}

.wieZijnWij {
    color: blueviolet !important;
}

.groen {
    color: forestgreen !important;
}

.img-fluid-custom {
    width: 100%;
    height: auto;
}

@media (max-width: 992px) {
    .img-fluid-custom {
        height: 390px;
        /* Set a fixed height after the md breakpoint */
        object-fit: cover;
        /* Ensures the image covers the area without stretching */
    }
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: blueviolet !important;
    border-color: blueviolet !important;
}

.youtubeVideo {
    aspect-ratio: 16 / 9;
    width: 100%;
}